@define-color bg-hover #26233a;
@define-color lbg #908caa;
@define-color bg #191724;
@define-color blue #31748f;
@define-color sky #9ccfd8;
@define-color red #eb6f92;
@define-color pink #eb6f92;
@define-color lavender #c4a7e7;
@define-color rosewater #c4a7e7;
@define-color flamingo #ebbcba;
@define-color fg #e0def4;
@define-color green #9ccfd8;
@define-color active-green #9ccfd8;
@define-color dark-fg #1f1d2e;
@define-color peach #ea9a97;
@define-color border @lavender;
@define-color gray2 #6e6a86;
@define-color black4 #191724;
@define-color black3 #191724;
@define-color maroon #b4637a;
@define-color yellow #f6c177;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;
  font-weight: 700;
  padding-bottom: 0px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

#window {
	margin: 5px 5px 2px 5px;
	padding-left: 10px;
	padding-right: 7px;
	border-radius: 3px;
	border-bottom: 2px solid @bg;
	border-right: 2px solid @bg;
  border-color: @lbg;
	background-color: @yellow;
	color: @bg;
}

window#waybar.empty #window {
	background-color: transparent;
	border-bottom: none;
	border-right: none;
}

window#waybar {
  background-color:transparent;
  color: @lavender;
}

/* Workspaces */
@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces {
  margin: 5px 5px 2px 5px;
  margin-left: 10px;
  border-radius: 3px;
  padding: 1px;
  background-color: @bg;
  color: @bg;

}

#workspaces button {
  margin: 5px 2px 5px 2px;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 9px;
  background-color: @bg;
  color: @fg;
}

#workspaces button.active {
    background-color:@blue;
    color: @bg;
    /*color: @bg;*/
}

#workspaces button.focused {
    background-color:@blue;
    color: @bg;
    /*color: @bg;*/
}

#workspaces button.urgent {
	color: #F38BA8;
}

#workspaces button:hover {
  border: solid transparent;
}

#custom-gpu-util {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}

#tray {
  margin: 5px 5px 2px 5px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg;
  color: @fg; 
}

#idle_inhibitor {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 3px;
  background-color: @bg;
  color: @fg;
}

#network {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

#network.linked {
  color: @peach;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#custom-subs {
	color: @fg;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 3px;
	border-bottom: 2px solid @bg;
	border-right: 2px solid @bg;
    border-color: @lbg;
    background-color: @red;
}

#custom-cliphist {
	color: @peach;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 3px;
    background-color: @bg;

}

#custom-gpu-temp,
#cpu,
#memory,
#custom-clipboard,
#temperature {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: @fg;
  background-color: @bg;
}

#custom-playerctl {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: @fg;
  background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
  margin-top: 5px;
  margin-bottom: 2px;
  color: @fg;
  background-color: @bg;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

#battery,
#bluetooth {
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 7.5px;
	padding-right: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#backlight,
#pulseaudio {
	margin-right: 10px;
	margin-left: 5px;
	padding-left: 10px;
  	padding-right: 7.5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#clock {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: @bg;
  background-color: @green;
}

#taskbar {
    border-radius: 0px 8px 8px 0;
    padding: 0 3px;
    margin: 0 0px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.3);
}
#taskbar button {
    border-radius: 3px 3px 3px 3px;
    padding: 0 0 0 3px;
    margin: 3px 1;
    color: #ffffff;
    background-color: rgba(120,118,117,0.1);
}
#taskbar button.active {
    background-color: rgba(120,118,117,0.8);
}

#mode {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: @bg;
  color: @peach;
}
